doctype html
html
    head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')
    script(src='/js/bootstrap.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bootstrap/dist/js/npm.js')
    body
        header
                nav.navbar.navbar-default.navbar-inverse
                    div.container-fluid
                        div.navbar-header
                            a.navbar-brand(href="Brand") Seguridad Alimentaria
                        div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
                            ul.nav.navbar-nav
                                li
                                    a(href="###") Inicio
                                        span.sr-only
                                        span.glyphicon.glyphicon-home
                                li
                                    a(href="###")
                                li.dropdown
                                    a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false") Dropdown
                                        span.caret
                                    ul.dropdown-menu(role="menu")
                                        li
                                            a(href="###") Action 1
                                        li
                                            a(href="###") Action 2
                                        li.divider
                                        li
                                            a(href="###") Action Separated
                            ul.nav.navbar-nav.navbar-right
                                li
                                    a(href="#") Acceso
                                li.dropdown
                                    a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false")
                                        span.glyphicon.glyphicon-user
                                        span.caret
                                    ul.dropdown-menu(role="menu")
                                        li
                                            a(href="###") Action 1
                                        li
                                            a(href="###") Action 2
                                        li.divider
                                        li
                                            a(href="###") Action Separated

        block content