div.modal.fade
   div.modal-dialog
      div.modal-content
         div.modal-header
            button.close(type="button", ng-click="close('Cancel')", data-dismiss="modal", aria-hidden="true")&times
            h4.modal-title Eliminar Producto
         div.modal-body
            label ¿Desea eliminar {{_descripcion}}
         div.modal-footer
            button.btn.btn-default(type="button", ng-click="close('No')", data-dismiss="modal") No
            button.btn.btn-primary(type="button", ng-click="close('Si')", data-dismiss="modal") Si