.hero-unit
  h1 Inicio
  p Seguridad Alimentaria
  ul
      li Jade
      li(ng-repeat="thing in awesomeThings") {{thing}}
  p installed.
  h3 Enjoy coding! - Yeoman

  a(href="#/producto") producto
  a(href="#/grupo") grupo
