div.modal.fade
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type="button", ng-click="close('Cancel')", data-dismiss="modal", aria-hidden="true")&times;
        h1 Agregar producto

      div.modal-body
        label Descripción:
        input (type="text", ng-model="nuevoProductoDescripcion")
        br
        br
        label Grupo:
        select(ng-model="nuevoProductoNumGrupo", ng-options="g.num_grupo as g.desc_grupo for g in awesomeThings")
      div.modal-footer
        button.btn.btn-success(ng-click="guardarProducto()") Guardar
        button.btn.btn-danger(type="button", ng-click="close('CLOSED')", data-dismiss="modal", aria-hidden="true")&times; Cancelar


