.hero-unit
  h1 PRODUCTOS
  div.gridStyles(ng-grid="gridOptions")
  br
  legend Agregar nuevo producto
  button.col-md-12.btn-success.btn.pull-left(type="submit", ng-click="mostrarModal()") Nuevo*



