.hero-unit
  h1 FRECUENCIA
  div.gridStyles(ng-grid="listado")
  button.btn.btn-primary.btn-xs.pull-right(type="button", data-toggle="modal", data-target="#NuevaUnidadModal")
    i.glyphicon.glyphicon-plus-sign
    |  Nueva Unidad
  br
  legend Agregar nueva frecuencia
  button.col-md-5.btn-success.btn.pull-right(type="submit", ng-click="mostrarModal()") Nuevo*
  br
  br
  // Bookmark form
  #NuevaUnidadModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal")
            span(aria-hidden="true") &#215;
            span.sr-only Close
          h4#myModalLabel.modal-title Nueva Unidad
        .modal-body
          // Main content here
          form#NuevaUnidadForm
          p Por favor ingrese la descripción y el coeficiente de la nueva unidad, todos los campos son requeridos.
          .form-group(ng-class="{'has-error':NuevaUnidadForm.descripcion.$invalid && NuevaUnidadForm.descripcion.$dirty}")
            label(for="descripcion") Descripción:
            .input-group
              .input-group-addon
                i.glyphicon.glyphicon-tags
              input#descripcion.form-control(type="text", ng-model="unidad.descripcion", ng-required="true", name="descripcion", placeholder="Ingrese la descripción o nombre")
              span.glyphicon.glyphicon-remove.form-control-feedback(ng-if="NuevaUnidadForm.descripcion.$invalid && NuevaUnidadForm.descripcion.$dirty")
                span.help-block(ng-if="NuevaUnidadForm.descripcion.$invalid && NuevaUnidadForm.descripcion.$dirty") La descripci&#243;n es requerida.
          .form-group
            label(for="coeficiente") Coeficiente
            .input-group
              .input-group-addon
                i.glyphicon.glyphicon-tags
              input#coeficiente.form-control(type="number", ng-model="unidad.coeficiente", ng-required="true", name="coeficiente", placeholder="Ingrese el coeficiente")
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") Cancelar
          button.btn.btn-primary(ng-click="save(unidad)", type="button") Guardar Cambios


