//
   Created by santiago on 28/01/15.
extends ../layout

block content

    h1 Nuevo Producto
    form.form-horizontal(role='form', method='post', action='/producto/nuevo')
        div
        fieldset
            legend Agregar Nuevo Producto
            div.form-group
                label Descripción del Producto
                input.input.input-lg(name='desc_producto', type="text")
                label Número de Grupo
                //input(name='num_grupo', class='form-control')
                select(name="num_grupo")
                    if (lista)
                        each grupo in lista
                            option(value=grupo.num_grupo, selected) #{grupo.num_grupo} -> #{grupo.desc_grupo}
            div.form-inline
                button.btn.btn-primary(type='submit') Agregar
                button.btn.btn-default(type='reset') Borrar
