
<!-- INICIA VISUALIZACION DE VARIABLES-->
<div class="row"><br/>
  <nav class="col-lg-2">
    <ul id="sidebar" class="nav nav-stacked fixed">
      <script type="text/ng-template" id="variable_renderer.html">
        <li>
          <nav class="col-lg-12 bs-docs-sidebar">
            <div class="navbar-default bs-docs-sidebar"><a href="" title="" ng-click="tester(node)" class="pull-left">{{node.title}}</a>
              <ul ng-model="node.nodes" ng-class="{hidden: collapsed}" class="nav nav-stacked">
                <li ng-repeat="node in node.nodes" ng-include="'variable_renderer.html'"></li>
              </ul>
            </div>
          </nav>
        </li>
      </script>
      <div>
        <ul ng-model="data" class="nav nav-stacked">
          <li ng-repeat="node in dataNav" ng-include="'variable_renderer.html'"></li>
        </ul>
      </div>
    </ul>
    <h3>Comportamiento de los datos
      <div class="info">{{info}}</div>
      <pre class="code">{{ data | json }}</pre>
    </h3>
    <!-- FINALIZA VISUALIZACION DE VARIABLES-->
  </nav>
  <div class="col-lg-6">
    <!--INICIA PARTE DE LA VISUALIZACION DE LA ENCUESTA YA FORMADA-->
    <h2>PREGUNTAS</h2>
    <script type="text/ng-template" id="nodes_renderer.html">
      <section id="{{variableSeleccionada}}" ng-if="node.section == variableSeleccionada">
        <div ng-class="{'panel panel-default': node.nodes &amp;&amp; node.nodes.length &gt; 0}">
          <div ng-if="node.nodes &amp;&amp; node.nodes.length &gt; 0" ui-tree-handle="" class="panel-heading"><i ng-if="node.nodes &amp;&amp; node.nodes.length &gt; 0" class="glyphicon glyphicon-question-sign"></i> {{node.title}}<a title="Agregar respuesta" data-nodrag="" ng-click="newSubItem(this)" style="margin-right: 8px;" class="pull-right btn btn-clipboard btn-xs"><span class="glyphicon glyphicon-plus"></span></a></div>
          <div ng-if="node.nodes &amp;&amp; node.nodes.length == 0">
            <input type="{{node.type}}" name="{{node.codigo}}" value="{{node.codigo}}" ng-if="node.type == 'checkbox' || node.type == 'radio'"/>
            <input type="{{node.type}}" name="{{node.codigo}}" ng-if="node.type == 'text'"/>
            <input type="{{node.type}}" min="{{rango.minimo}}" max="{{rango.maximo}}" ng-model="dato.valor" step="1" ng-if="node.type == 'range'" class="input-lg"/>
            <input type="{{node.type}}" ng-model="dato.valor" ng-if="node.type == 'date'"/>
            <input type="{{node.type}}" ng-if="node.type == 'time'" class="small"/><!--a.pull-right.btn.btn-clipboard.btn-xs(title="Eliminar", data-nodrag="", ng-click="remove(this)")<span class="glyphicon glyphicon-remove"></span>--><a title="Editar" data-toggle="modal" data-target="#editarProductoModal" data-nodrag="" ng-click="" style="margin-right: 8px;" ng-if="node.type == 'checkbox' || node.type == 'radio'" class="pull-right btn btn-clipboard btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a> {{node.title}}
            <p class="pull-right">{{node.title2}}</p>
          </div>
          <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" ng-include="'nodes_renderer.html'"></li>
          </ol>
        </div>
      </section>
    </script>
    <div id="tree-root" ui-tree="">
      <ol ui-tree-nodes="" ng-model="data">
        <li ng-repeat="node in data" ui-tree-node="" ng-include="'nodes_renderer.html'" ng-if="node.section == variableSeleccionada"></li>
      </ol>
    </div>
    <!--FINALIZA PARTE DE LA VISUALIZACION DE LA ENCUESTA YA FORMADA-->
    <!--INICIA EL INGRESO DE PREGUNTAS-->
    <label class="pull-right">INGRESO DE PREGUNTAS</label>
    <div id="SubIngreso" class="panel panel-default">
      <div class="panel-heading"><br/><i class="glyphicon glyphicon-question-sign"></i><span editable-text="pregunta.descripcionPregunta" e-form="descripcionPregunta">  {{pregunta.descripcionPregunta || "Ingresar enunciado..."}}</span><a title="Editar" ng-click="descripcionPregunta.$show()" ng-hide="descripcionPregunta.$visible" style="margin-right: 8px;" class="btn btn-clipboard btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a><a title="addRespuesta" ng-click="addOpcionRespuesta(respuesta)" class="pull-right btn btn-clipboard btn-xs"><span class="glyphicon glyphicon-plus"></span></a></div>
      <div class="panel-body">
        <ul ng-repeat="dato in arrayRespuesta1">
          <!--*************TABULAR****************--><a title="editarNumEscala" editable-text="dato.numEscala" onbeforesave="tabularValido($data)" ng-if="respuesta.tipoRespuesta.type == 'checkbox' || respuesta.tipoRespuesta.type == 'radio'" class="pull-left btn btn-clipboard btn-xs">{{dato.numEscala || "Requiere tabular"}} &nbsp<span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
          <!--*************INPUT Y OPCION RESPUESTA****************-->
          <!--RADIO BUTTON-->
          <input type="{{respuesta.tipoRespuesta.type}}" name="{{pregunta.codigoPregunta}}" ng-value="dato.numEscala" ng-model="respuesta.correcta" ng-if="respuesta.tipoRespuesta.type == 'radio'"/>
          <!--CHECKED-->
          <input type="{{respuesta.tipoRespuesta.type}}" ng-model="dato.valor" ng-if="respuesta.tipoRespuesta.type == 'checkbox'"/>
          <!--RANGE-->
          <input type="number" name="numMinimo" ng-model="rango.minimo" min="0" max="99" step="1" placeholder="" maxlength="2" required="required" ng-if="respuesta.tipoRespuesta.type == 'range'" class="small"/><strong ng-if="respuesta.tipoRespuesta.type == 'range'">{{dato.valor}}</strong>
          <input type="number" name="numMaximo" ng-model="rango.maximo" min="0" max="99" step="1" placeholder="" maxlength="2" required="required" ng-if="respuesta.tipoRespuesta.type == 'range'" class="small pull-right"/>
          <input type="{{respuesta.tipoRespuesta.type}}" min="{{rango.minimo}}" max="{{rango.maximo}}" ng-model="dato.valor" step="1" ng-if="respuesta.tipoRespuesta.type == 'range'" class="input-lg"/>
          <!--FECHA - DATE-->
          <input type="{{respuesta.tipoRespuesta.type}}" ng-if="respuesta.tipoRespuesta.type == 'date'" class="small"/>
          <!--HORA - TIME-->
          <input type="{{respuesta.tipoRespuesta.type}}" ng-if="respuesta.tipoRespuesta.type == 'time'" class="small"/>
          <!--PENCIL RESPUESTA--><span ng-if="respuesta.tipoRespuesta.type == 'checkbox' || respuesta.tipoRespuesta.type == 'radio' || respuesta.tipoRespuesta.type == 'range'"><span editable-text="dato.title" e-form="descripcionRespuesta1"> {{dato.title || "Ingresar opcion de respuesta..."}}</span><a title="EditarRespuesta" ng-click="descripcionRespuesta1.$show()" ng-hide="descripcionRespuesta1.$visible" style="margin-right: 8px;" class="btn btn-clipboard btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a></span><span ng-if="respuesta.tipoRespuesta.type == 'range'" class="pull-right"><span editable-text="dato.title2" e-form="descripcionRespuesta2"> {{dato.title2 || "Ingresar opcion de respuesta..."}}</span><a title="EditarRespuesta" ng-click="descripcionRespuesta2.$show()" ng-hide="descripcionRespuesta2.$visible" style="margin-right: 8px;" class="btn btn-clipboard btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a></span>
          <!--TEXTO-->
          <textarea rows="2" cols="70" type="{{respuesta.tipoRespuesta.type || 'radio'}}" name="{{pregunta.codigoPregunta}}" ng-value="dato.numEscala" ng-model="respuesta.correcta" ng-if="respuesta.tipoRespuesta.type == 'text'"></textarea>
          <!--MATRIZ-->
          <div ui-grid="gridOptions" ui-grid-edit="ui-grid-edit" ui-grid-selection="ui-grid-selection" ng-if="respuesta.tipoRespuesta.type == 'Matriz'" class="gridStyles"></div>
          <!--*************SELECT TIPO DE PREGUNTA****************-->
        </ul>
        <select ng-model="respuesta.tipoRespuesta" ng-options="tipo.type for tipo in objTipoPregunta" id="tipoRespuesta" class="pull-right">
          <option value="">Pregunta.</option>
        </select>{{respuesta.correcta}}<br/><br/><span editable-text="pregunta.codigoPregunta" e-form="codigoPregunta" ng-model="pregunta.codigoPregunta">{{pregunta.codigoPregunta || "Igresar código de pregunta"}}</span><a title="Editar" ng-click="codigoPregunta.$show()" ng-hide="codigoPregunta.$visible" class="btn btn-clipboard btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a><br/><span editable-text="pregunta.ayudaPregunta" e-form="ayudaPregunta" ng-model="pregunta.ayudaPregunta">{{pregunta.ayudaPregunta || "Ayuda!"}}</span><a title="Editar" ng-click="ayudaPregunta.$show()" ng-hide="ayudaPregunta.$visible" class="btn btn-clipboard btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
        <!--CHECKED--><br/>
        <input type="checkbox" ng-model="pregunta.obligatoriedadPregunta"/>
        <spam>Obligatoria?</spam>
      </div>
    </div>
    <!--FINALIZA EL INGRESO DE PREGUNTAS--><br/>
    <button type="button" data-toggle="" data-target="" ng-click="addPregunta(pregunta)" class="btn btn-primary btn-xs pull-right"><i class="glyphicon glyphicon-plus-sign"></i>Ingresar</button>
    <button type="button" data-toggle="" data-target="" ng-click="addColumna()" class="btn btn-primary btn-xs pull-right"><i class="glyphicon glyphicon-plus-sign"></i>tester</button><br/><br/>
    <button type="button" data-toggle="" data-target="" ng-click="guardar()" class="btn btn-primary btn-xs pull-right"><i class="glyphicon glyphicon-plus-sign"></i>GUARDAR TODO</button>
    <!--FINALIZA LA VISUALIZACION PREVIA DE LAS PREGUNTAS A INGRESAR.-->
  </div>
  <div class="col-lg-4">
    <div class="modal-header">
      <h4 class="modal-title">{{encuesta.str_titulo}}</h4>
      <p class="modal-title">{{encuesta.str_objetivo}}</p>
    </div>
    <div class="modal-body">
      <p>Descripción: {{encuesta.str_descripcion}}</p>
      <p>Destinado a: {{encuesta.str_destinado_a}}</p>
    </div>
    <div class="modal-footer">
      <p class="modal-title">Instrucciones:<strong>strong {{encuesta.srt_instrucciones}}</strong></p>
      <p>Fecha de creación:<strong>{{encuesta.dt_fecha_creacion}}</strong></p>
      <p>Estado:<strong>{{encuesta.str_estado}}</strong></p>
    </div>
  </div>
</div>